.btn {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 22px;
}
.calculator-display {
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color: black;
  width: 35%;
}

.warning-message {
  color: #d44950;
}
